* {
	padding: 0;
	margin: 0;
}

a {
	color: rgb(24, 211, 211);
}

body {
	background-color: black;
	color: white;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 5%;
	width: 90%;
}

#defaultCanvas0 {
	display: flex;
	margin: auto;
}

header {
	display: flex;
	align-content: space-between;
	justify-content: space-between;
	align-items: center;
}

.description {
	max-width: 40%;
}

header > div > * {
	padding: 5px;
	list-style: none;
}

.padding > * {
	padding: 5px;
}

footer {
	font-size: 16px;
	position: absolute;
	bottom: 10px;
	width: 90%;
}

.flex-container {
	flex-wrap: wrap;
	align-content: space-between;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

div#canvasContainer {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

img#logo {
	max-width: 30px;
}
